* {
 box-sizing: border-box;
}


body {
 max-width: 100%;
 max-height: 100%;
 font-family: 'Nanum Gothic Coding', monospace;
 font-size: 25px;
 z-index: 0;
}


#icon-bar {
 background-color:  rgb(255, 187, 0);
 width:60px;
 height:100%;
 position: fixed;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);  
 z-index: 1;
}

.icon-container { 
 margin-top: 115px;
}

.icon-container a {
  text-align: center;
  color:black;
  display:block;
  font-size: 25px;
  margin-left:0;
  margin-top:30px;
}

.icon-container a:hover {
  background-color:  rgb(248, 94, 67);
  color:black;
}

#CV {
  text-align:center;
  font-size: 30px;
  margin-top:30px;
  font-weight: bolder;
  margin-left:0;
  font-family:'Courier New', Courier, monospace ;
}

#CV a:hover {
  background-color:  rgb(248, 94, 67);
  color:black;
  text-decoration: none;
}
  
nav {
 height:70px;
 font-family: 'Nanum Gothic Coding', monospace;
 margin-left:50px;
 padding-top:25px;
 padding-left:75px;
 padding-right:25px;
}

nav ul {
 font-family: 'Courier New', Courier, monospace;
 display:flex;
 justify-content: flex-end;
 list-style-type: none;
 font-size: 1.7em;
}

nav ul li a {
 margin-left:25px;
 color:black;
 text-decoration: none;
}


#home-btn {
 text-decoration:underline;
 text-decoration-color:rgb(255, 75, 44);
 text-decoration-thickness: .15em;
 text-underline-offset: .2em;    
 transition-delay: 250ms;
 font-weight:bold;
}

nav a:hover {
  color: black;
  padding-bottom:2em;
  text-decoration: none;
  transition-delay: 250ms;
  font-weight:bold;
}

main {  
  max-width:100%;
  max-height:120%;

  margin-right:25px;
  margin-top:50px;
  margin-left:75px; 
  padding-bottom:25px;
}

#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  padding-bottom:100px;
} 


.welcome-text {
max-width:50%;
justify-content: center;
padding-bottom:25px;

}

.title {
font-size:110px;
width:120%;
}

.web {
  font-weight: bold;
  color: red;
}

.sub-title {
text-align:center;
padding-top:20px;
font-size:33px;
width:75%;
}

.welcome-img {

}

footer {
  background-color:  rgb(255, 187, 0);
  position:relative;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  text-align:center;
  align-items: center;
  justify-content: center;
  padding-top:16px;
  font-weight:bold;
  font-size:20px;
  font-family: 'Nanum Gothic Coding', monospace;
  padding-left:0px;
}




/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */
#icon-bar {
  background-color:  rgb(255, 187, 0);
}

main {
  padding-bottom:55px;
}

.icon-container { 
 margin-top: 100px;
}

.icon-container a {
  font-size:30px;
  padding-top:10px;
}


nav {
 height:80px;
 font-family: 'Nanum Gothic Coding', monospace;
 margin-left:50px;
 padding-top:25px;
 padding-left:75px;
 padding-right:75px;
}

nav ul {
 font-family: 'Courier New', Courier, monospace;
 display:flex;
 justify-content: flex-end;
 list-style-type: none;
 font-size: 2em;
}

nav ul li a {
 margin-left:50px;
 color:black;
 text-decoration: none;
}



.welcome-text {
  font-size:110px;
}

.title {
  font-size: 115px;
  padding-bottom:10px;
}

.sub-title {
  text-align: center;
  position: relative;
  right:25px;

}



footer h6 {
font-size:18px;
}


}


/* iPads (landscape) ----------- */
@media only screen and
(max-width: 1024px) 
and (orientation : landscape) {
/* Styles */



body {
  zoom:0.7;
}

#icon-bar {
  background-color:  rgb(255, 187, 0);
  zoom: normal;
  width:70px;
}


.icon-container { 
 margin-top: 110px;
}

.icon-container a {
  font-size:30px;
  padding-top:10px;
}

main {
  padding-bottom:110px;
}



nav {
 
 padding-right:30px;

}

nav ul {
 font-size: 1.6em;

}

nav ul li a {
 margin-left:40px;
}

.welcome-text {
 padding-left:25px; //
}



.title {
 font-size: 85px;
}


.sub-title {
text-align:center;
padding-top:14px;
font-size:27px;
width:70%;
padding-left: 38px; //

}

.welcome-img {
  zoom:1.3;
}



footer {
  height:75px;
}
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 992px) {
/* Styles */

#icon-bar {
  background-color: rgb(255, 187, 0);
}

.icon-container {
  margin-top:50px;
}

#icon-bar a {
  font-size:25px;
}

main {
  padding-bottom:0px;
}


nav {
 padding-top:20px;;
 padding-right:45px;
}

nav ul {
 font-size: 1.2em;
}

nav ul li a {
 margin-left:40px;
}

#home {
  padding-bottom: 0px;
}

.welcome-text {
  position: relative;
  bottom: 40px;
  padding-left:15px;
}

.title {
  font-size: 65px;
}


.sub-title {
text-align:center;
padding-top:14px;
font-size:20px;
width:75%;
position: relative;
right:35px;
padding-left:45px;

}

.welcome-img {
  position: relative;
  bottom:45px;
  zoom:0.95;
}


}



/* iPads (portrait) ----------- */
@media only screen and (max-width: 778px)
and (orientation : portrait) {
/* Styles */
#icon-bar {
  background-color: rgb(255, 187, 0);
}

.icon-container {
  margin-top:90px;
}

nav {
 
 padding-right:100px;
}

nav ul {
 font-size: 1.6em;

}

nav ul li a {
 margin-left:50px;

}


main {  
  max-width:100%;
  max-height:100%;

  margin-right:25px;
  margin-top:50px;
  margin-left:0px; 
  padding-bottom:25px;
}


#home {
  position: relative;
  left:20px;
}



.title {
  font-size: 85px;
  padding-bottom: 0px;
}


.sub-title {
text-align:center;
padding-top:0px;
font-size:25px;
width:105%;
}

.welcome-img {
  zoom:0.85;
}



footer {
  height:50px;
}
}




/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px) {
/* Styles */
body {
  zoom: 0.8;
}

#icon-bar {
  background-color:rgb(255, 187, 0);
  width:45px;
}

.icon-container {
  margin-top:70px;
}

.icon-container a {
  font-size:10px;
  padding-top:7px;
}

nav {
 
 padding-right:0px;
 
}

nav ul {
 font-size: 17px;
 position: relative;
 right:40px;
 

}

nav ul li a {
 margin-left:30px;

}


main {  
  max-width:100%;
  max-height:100%;

  margin-right:25px;
  margin-top:50px;
  margin-left:0px; 
  padding-bottom:25px;
}

#home {
  position: relative;
  left:20px;
}

.welcome-text {
  position: relative;
  right:35px;
  padding-bottom: 0;
  padding-left: 0px;
}

.title {
  font-size: 65px;
  padding-bottom: 0px;
}


.sub-title {
text-align:center;
padding-top:0px;
font-size:18px;
width:120%;
padding-bottom: 0;
position: relative;
right:0;
left:0px;
}

.welcome-img {
  zoom:0.8;
  position: relative;
  top:0;
  left:25px;
  padding-bottom:20px;
}



footer {
  height:50px;
  max-width: 110%;
}


}









