* {
 box-sizing: border-box;
}


body {
 max-width: 100%;
 min-height: 100vh;
 font-family: 'Nanum Gothic Coding', monospace;
 font-size: 25px;
 z-index: 0;
 padding-top:2em;
}


#icon-bar {
 background-color:  rgb(255, 187, 0);
 width:60px;
 height:100%;
 position: fixed;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);  
 z-index: 2;
}

.icon-container { 
 margin-top: 140px;
}


#CV ,#hacker-rank, #exercism {
  text-align:center;
  font-size: 30px;
  margin-top:30px;
  font-weight: bolder;
  margin-left:0;
  font-family:'Courier New', Courier, monospace ;
}

#icon-bar a {
  text-align: center;
  color:black;
  display:block;
  font-size: 30px;
  margin-left:0;
  margin-top:30px;

}

#icon-bar a:hover {
  background-color:  rgb(248, 94, 67);
  color:black;
}
  
nav {

 font-family: 'Nanum Gothic Coding', monospace;
 margin-left:50px;
 padding-top:25px;
 padding-left:75px;
 padding-right:145px;

}

nav ul {
 font-family: 'Courier New', Courier, monospace;
 display:flex;
 justify-content: flex-end;
 list-style-type: none;
 font-size: 1.7em;
}

nav ul li a {
 color:black;
 text-decoration: none;
 margin-left:50px;
}


#home-btn {
 text-decoration:underline;
 text-decoration-color:rgb(255, 75, 44);
 text-decoration-thickness: .15em;
 text-underline-offset: .2em;    
 transition-delay: 250ms;
 font-weight:bold;
}

nav a:hover {
  color: black;
  padding-bottom:2em;
  text-decoration:underline;
  text-decoration-color:rgb(255, 75, 44);
  text-decoration-thickness: .15em;
  text-underline-offset: .3em;    
  transition-delay: 250ms;
  font-weight:bold;
}


main {  
  max-width:100%;
  max-height:100%;
  padding-left:100px;
 padding-right:50px;
  margin-top:25px;
 
}

#home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-family:'Courier New', Courier, monospace;

} 


#home .welcome-text {
max-width:30%;
height:440px;
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align:center;
}



#home .title {
  font-size: 115px;
  width:550px;
}

#home .sub-title {
  width:500px;
  font-size:30px;
}

.web {
  font-weight: bold;
  color: red;
}


#home img {
  width:495px;
  height:630px;
}

footer {
  background-color:  rgb(255, 187, 0);
  position:relative;
  top:125px;
  bottom:0;
  left:0;
  width:100%;
  height:60px;
  text-align:center;
  align-items: center;
  justify-content: center;
  padding-top:20px;
  font-weight:bold;
  font-family: 'Nanum Gothic Coding', monospace;
  z-index:1;
  
}

footer h6 {
  font-size:1.1em;
}


/* ***************************************************************************MEDIA-QUERIES*********************************************************************************** */
/* baseline design on your screen (high res or wide)--DO NOT CHANGE ANYTHING ABOVE THIS LINE (use MQs below ONLY) */

/* High res laptops or large PCs--use this to make changes to original */
@media screen and (min-width:1281px) {
#icon-bar {
background-color:  rgb(255, 187, 0);
}

}

/* Smaller laptops/big tablets or low-res PC  */

@media screen and (max-width:1280px) {

nav {
  margin-left: 50px;
  padding-left: 75px;
  padding-right: 75px;
}


nav ul li a {
margin-left:40px;
}

main {  

  padding-left:100px;
 padding-right:50px;
  margin-top:25px;

}

#home .welcome-text {
max-width:30%;
height:375px;
padding-left:0px;
}


#home .title {
  font-size: 90px;
  width:450px;
}

#home .sub-title {
  width:425px;
  font-size:25px;
}

.web {
  font-weight: bold;
  color: red;
}


#home img {
  width:480px;
  height:580px;
  padding-left:50px;
}

}


/* *** LANDSCAPES ***  */

/* *********Tablet-landscape ---------- */

@media only screen and
(max-width: 1024px)   {

body {
  padding-top:1.5em;
}

 .icon-container { 
 margin-top: 120px;
}

#icon-bar a {
  font-size:25px;
}

nav {
  margin-left: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

nav ul {
  font-size:1.5em;
}

nav ul li a {
margin-left:32px;
}


main {  
padding-top:0px;
padding-left:120px;
 padding-right:50px;
  margin-top:35px;
}

#home {
  justify-content:space-between;
}

#home .welcome-text {

height:300px;
padding-left:25px;
}


#home .title {
  font-size: 75px;
  width:450px;
}

#home .sub-title {
  width:455px;
  font-size:20px;
  max-width:100%;
}

.web {
  font-weight: bold;
  color: red;
}


#home img {
  width:420px;
  height:520px;
  padding-left:25px;
  padding-right:25px;
}

footer {
  height:60px;
  font-size:14px;
}


}
/* *** PORTRAITS *** */


/* (( ipad pro )) ------Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

body {
  padding-top:2em;
}

#icon-bar {
  width:60px;
}

#icon-bar a {
  font-size:28px;
  padding-bottom:15px;
}
.icon-container {
  margin-top:150px;
}

nav ul {
 font-size: 2em;
 justify-content: center;

 padding-left:0;
 margin:0;
 padding-right:4em;

}

nav ul li a {
 margin-left:75px;
}

main {  
  max-width:100%;
  max-height:100%;
  margin-right:75px;
  margin-top:50px;
  margin-left:0px; 
  padding-bottom:0px;
}

#home {
 flex-wrap: wrap;
 justify-content: center;
}

#home .welcome-text {
height:400px;
padding-left:0px;
max-width:80%;
}

#home .title {
  font-size: 120px;
  width:550px;
}

#home  .sub-title {
  font-size:35px;
  width:500px;
  max-width:70%;
  
}

.web {
  font-weight: bold;
  color: red;
}

#home img {
  width:560px;
  height:740px;
  padding-left:25px;
  padding-top:130px;
}


footer h6 {
  font-size:1.3em;
} 
}

/* **************Tablets--portrait -------------------- */
@media only screen and (max-width: 800px)
 {

.icon-container {
  margin-top:120px;
}
#icon-bar {
  width:60px;

}
nav ul {
 font-size: 1.6em;
 justify-content: center;

 padding-left:0;
 margin:0;
 padding-right:2em;

}

nav ul li a {
 margin-left:50px;
}

main {  
  max-width:100%;
  max-height:100%;

  margin-right:25px;
  margin-top:50px;
  margin-left:0px; 
  padding-bottom:25px;
}

#home {
 flex-wrap: wrap;
 justify-content: center;
}

#home .welcome-text {

height:360px;
padding-left:0px;
max-width:80%;
}

#home .title {
  font-size: 90px;
  width:550px;
}

#home .welcome-text .sub-title {
  font-size:25px;
  width:500px;
  max-width:75%;
}

.web {
  font-weight: bold;
  color: red;
}

#home img {
  width:520px;
  height:580px;
  padding-left:30px;
  padding-top:25px;
}

}

/* ******************* Wide portrait mobile  -----------*/
@media only screen 
and (max-width:599px)  {

#icon-bar {
  width:50px;
}

.icon-container { 
 margin-top: 120px;
}

#icon-bar a {
  margin-top:20px;
  font-size:26px;
}

nav ul {
  font-size:1.3em;
}

nav ul li a{
  margin-left:30px;
}

#home .welcome-text {
height:300px;
max-width:90%;
}

#home .title {
font-size: 75px;
}

#home .welcome-text .sub-title {
 max-width:100%;
 font-size:23px;
}

#home img {
  width:400px;
  height:520px;
  padding-left:25px;
  padding-top:25px;
}
footer {
  height:50px;
}
}

/****************** Smartphones Portrait ----------- */
@media only screen 
and (max-width : 445px)  {

#icon-bar {
  width:45px;
}

body {
    padding-top:1em;
  }
  
 #icon-bar {
    width:45px;
  }

.icon-container {
    margin-top: 95px;
  }
  
  #icon-bar a {
    font-size:25px;
  }

  nav {
    margin-left:0px;
    font-size:14px;
    padding-left:55px;
    padding-right:0px;
  }

  main {
    margin-top:25px;
  }

  #home .welcome-text{
    max-width:120%;
    height:290px;
  }

  #home .sub-title {
    max-width:60%;
    font-size:20px;
  }

  #home img {
  width:340px;
  height:510px;
  padding-left:0px;
  padding-top:0px;

  }

 footer {
   padding-top: 15px;
   height:45px;
 }
}

/* small phones (iphones)--------*/

@media screen and (max-width: 376px){
  

body {
    padding-top:1.2em;
  }
  
 #icon-bar {
    width:40px;
  }

.icon-container {
    margin-top: 95px;
  }
  
  #icon-bar a, #CV {
    font-size:21px;
    margin-top:20px;
  }

  nav {
    margin-left:20px;
    font-size:11px;
    padding-left:50px;
    padding-right:50px;
  }

main {
  margin-top:25px;
  padding-top:0px;
  padding-bottom:0px;

}

  #home .welcome-text {
   height:220px;
   max-width:110%;
   position: relative;
   right: 10px;
}

  #home .title {
   font-size: 50px;
}

 #home .welcome-text .sub-title {
   max-width:110%;
   font-size:18px;
}

 #home img {
    width:340px;
    height:520px;
    padding-left:25px;
    padding-top:30px;
    padding-bottom:0px;
    margin:0px;
 }



 footer {
   padding-top: 15px;
   height:45px;
 
 }


}







