* {
  box-sizing: border-box;

}


body {
  max-width: 960px;
  font-family: 'Nanum Gothic Coding', monospace;

  margin:0;
  padding:0;
  font-size: 25px;

}



#icon-bar{
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(255, 163, 44); 
  z-index: 1;
  width:70px;
  height:100%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

.icon-container{
  margin-top: 136px;
  
}

.icon-container a{
  text-align: center;
  color:black;
  display:block;
  font-size: 25px;
  margin-left:0;
  margin-top:30px;
}

.icon-container a:hover{
  background-color:  rgb(248, 94, 67);
  color:black;
}

#CV {
  text-align:center;
  font-size: 30px;
  margin-top:30px;
  font-weight: bolder;
  margin-left:0;
}

 #CV a:hover{
  background-color:  rgb(248, 94, 67);
  color:black;
}
  