* {
 box-sizing: border-box;
}


body {
 max-width: 100%;
 font-family: 'Nanum Gothic Coding', monospace;
 font-size: 25px;
 max-height: 100%;
}

#icon-bar {
 background-color:rgb(255, 187, 0);
 width:50px;
 height:100%;
 position: fixed;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);  
}

.icon-container { 
 margin-top: 125px;
}

#icon-bar a {
  text-align: center;
  color:black;
  display:block;
  font-size: 30px;
  margin-left:0;
  margin-top:30px;
}

.icon-container a:hover {
  background-color:  rgb(248, 94, 67);
  color:black;
}

#CV {
  text-align:center;
  font-size: 30px;
  margin-top:30px;
  font-weight: bolder;
  margin-left:0;
  font-family:'Courier New', Courier, monospace ;
}

#CV a:hover {
  background-color:  rgb(248, 94, 67);
  color:black;
  text-decoration: none;
}
  
nav {
 height:70px;
 font-family: 'Nanum Gothic Coding', monospace;
 margin-left:50px;
 padding-top:25px;
 padding-right:25px;
}

nav ul {
font-family: 'Courier New', Courier, monospace;
 display:flex;
 justify-content: left;
 align-items: left;
 list-style-type: none;
 font-size: 1.7em;
}

nav ul li a {
 margin-left:25px;
 color:black;
 text-decoration: none;
}


#projects-btn {
 text-decoration:underline;
 text-decoration-color:rgb(255, 75, 44);
 text-decoration-thickness: .15em;
 text-underline-offset: .25em;     
 transition-delay: 250ms;
 font-weight:bold;

}

nav a:hover {
  color: black;
  padding-bottom:2em;
  text-decoration: none;
  transition-delay: 250ms;
  font-weight:bold;
}

.wrapper {
  padding-top:2rem;
  max-width:100%;
  max-height:100%;
  margin-right:25px;
  margin-top:0px;
  margin-bottom:25px;
  margin-left:100px;
  padding-bottom:150px;
}


#grid {
  display: grid;
  padding-left:25px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size:12px;
  grid-template-columns: repeat(2,1fr);
  max-width:800px;
  grid-row-gap: 50px;
  grid-column-gap:4rem;
  padding-bottom:75px;
}

#grid >div {
 
  height:14rem;
  width:22rem;
  padding:1em;
  border-radius:25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}

#grid a {
  text-decoration: none;
  color:inherit;
  font-weight:bolder;
}
 .box-2, .box-3 {
color:rgb(201, 57, 32);
background-color:rgb(136, 185, 185);

}

.box-1, .box-4 {
  background-color:rgb(245, 91, 64);
  color: rgb(52, 99, 96);
  
}
.box-4 h2{
font-weight:bolder;
}


footer {
  background-color: rgb(255, 187, 0);; 
  position:relative;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  text-align:center;
  align-items: center;
  justify-content: center;
  padding-top:14px;
  font-weight:bold;
  font-size:12px;
  font-family: 'Nanum Gothic Coding', monospace;
  padding-left:0px;
}

/* mobile queries */

/* mobile-portrait ****** */

@media screen and (max-width: 680px) {
  nav {
    margin-left:0px;
    font-size:11px;
  }

  .wrapper {
    margin-left:45px;
    padding-bottom:25px;
  }

  #grid {
    grid-template-columns: repeat(1,1fr);
    padding-left:25px;
  }
  
  #grid > div {
    width:20rem;
  }
.box-2, .box-4 {
 background-color:rgb(245, 91, 64);
 color: rgb(70, 139, 134);
}

.box-1, .box-3 {
  color:rgb(201, 57, 32);
background-color:rgb(136, 185, 185);
}
  footer h6 {
   padding-left:20px;
  }
}